
body {
    background-color: #000000;
    color: #FFFFFF;
}

#ID {
    font-size: 30px;
    font-weight: bold;
    margin: .5%;
    text-align: center;
}
#title {
    font-size: 25px;
    font-weight: bold;
    margin: .5%;
    text-align: center;
    margin-top: 40px;
}
#skill-title {
    font-size: 15px;
    text-align: Left;
    margin: .5%;
    margin-left: 1%;
}
/*
=====================================================================================
|                                                                                   |
|                                   Progress Bar                                    |
|                                                                                   |
=====================================================================================
*/

.progress{
    position:relative;
    width:30%;
    border:1px solid #FFF;
    position:relative;
    padding:3px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    float: left;
    height: 20px;
}

.progress-two{
    position:relative;
    width:95%;
    border:1px solid #FFF;
    position:relative;
    padding:3px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    float: left;
    height: 20px;
}

.bar{
    width:50%;
    height:20px;
    transition:width 1500ms;
}

.bar-two{
    position: relative;
    top: -20px;
    width: 100%;
    height: 20px;
}

#bar_hunger{
    background-color:#8b4600;
}

#bar_health{
    background-color:#008702;
}

#bar_thirst{
    background-color:#002eac;
}

#bar_uncompleted_business,
#bar_uncompleted_casino,
#bar_uncompleted_ems,
#bar_uncompleted_mining,
#bar_uncompleted_farming,
#bar_uncompleted_fishing,
#bar_uncompleted_hunting,
#bar_uncompleted_strenth,
#bar_uncompleted_cargos,
#bar_uncompleted_heli,
#bar_uncompleted_piloting,
#bar_uncompleted_player,
#bar_uncompleted_racing,
#bar_uncompleted_train,
#bar_uncompleted_bus,
#bar_uncompleted_garbage,
#bar_uncompleted_mechanic,
#bar_uncompleted_postop,
#bar_uncompleted_trucking{
    background-color:#0063CA;
}

#bar_completed_business,
#bar_completed_casino,
#bar_completed_ems,
#bar_completed_mining,
#bar_completed_farming,
#bar_completed_fishing,
#bar_completed_hunting,
#bar_completed_strenth,
#bar_completed_cargos,
#bar_completed_heli,
#bar_completed_piloting,
#bar_completed_player,
#bar_completed_racing,
#bar_completed_train,
#bar_completed_bus,
#bar_completed_garbage,
#bar_completed_mechanic,
#bar_completed_postop,
#bar_completed_trucking{
    background-color:#B39700;
}

#percent_stats{
    position:absolute;
    display:inline-block;
    top:1.2px;
    margin: .5%;
    left:40%;
}
#percent_skills {
    position:absolute;
    display:inline-block;
    top:-1.8px;
    margin: .5%;
    left:40%;
}
