
body {
    background-color: #000000;
    color: #FFFFFF;
}

#ID {
    font-size: 30px;
    font-weight: bold;
    margin: .5%;
    text-align: center;
}

#title {
    font-size: 25px;
    font-weight: bold;
    margin: .5%;
    text-align: center;
}

.progress{
        position:relative;
        width:30%;
        border:1px solid #FFF;
        position:relative;
        padding:3px;
        margin:1%;
        float: left;
}
#bar{
        width:50%;
        height:20px;
        transition:width 1500ms;
}

.bar_hunger{
        background-color:#8b4600;
}
.bar_health{
        background-color:#008702;
}
.bar_thirst{
        background-color:#002eac;
}

#percent_thirst, #percent_health, #percent_hunger{
        position:absolute;
        display:inline-block;
        top:1.8px;
        margin: .5%;
        left:2%;
}
