

#ID {
    font-size: 30px;
    font-weight: bold;
    margin: .5%;
    text-align: center;
}

.progress{
        position:relative;
        width:30%;
        border:1px solid #333;
        position:relative;
        padding:3px;
        margin:.5%;
        float: left;
}
#bar_thirst, #bar_hunger, #bar_health{
        width:50%;
        height:20px;
        transition:width 150ms;
}
#bar_hunger{
        background-color:#00ff00;
}
#bar_health{
        background-color:#00ff00;
}
#bar_thirst{
        background-color:#00ff00;
}
#percent_thirst, #percent_health, #percent_hunger{
        position:absolute;
        display:inline-block;
        top:3px;
                left:50%;
}
