

#ID {
    font-size: 30px;
    font-weight: bold;
}

.progress{
        position:relative;
        width:500px;
        border:1px solid #333;
        position:relative;
        padding:3px;
}
.bar{
        width:50%;
        height:20px;
        transition:width 150ms;
}
#bar_hunger{
        .bar;
        background-color:#00ff00;
}
#bar_health{
        .bar;
        background-color:#00ff00;
}
#bar_thirst{
        .bar;
        background-color:#00ff00;
}
.percent{
        position:absolute;
        display:inline-block;
        top:3px;
}
#percent_hunger{
        .percent;
        left:0%;
}
#percent_health{
        .percent;
        left:0%;
}
#percent_thirst{
        .percent;
        left:0%;
}
