
body {
    background-color: #000000;
    color: #FFFFFF;
}

#ID {
    font-size: 30px;
    font-weight: bold;
    margin: .5%;
    text-align: center;
}
#title {
    font-size: 25px;
    font-weight: bold;
    margin: .5%;
    text-align: center;
    margin-top: 40px;
}
#skill-title {
    font-size: 15px;
    text-align: Left;
}
/*
=====================================================================================
|                                                                                   |
|                                   Progress Bar                                    |
|                                                                                   |
=====================================================================================
*/
.progress{
    position:relative;
    width:30%;
    border:1px solid #FFF;
    position:relative;
    padding:3px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    float: left;
}
.progress-two{
    position:relative;
    width:95%;
    border:1px solid #FFF;
    position:relative;
    padding:3px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    float: left;
}

.bar{
    width:50%;
    height:20px;
    transition:width 1500ms;
}

.bar-two{
    position: absolute;
    top: 3px;
    left: 3px;
    float: right;
    width: 98%;
    height: 20px;
}

#bar_hunger{
    background-color:#8b4600;
}
#bar_hunger_two{
    background-color: #8b46004d;
}
#bar_health{
    background-color:#008702;
}
#bar_thirst{
    background-color:#002eac;
}
#bar_uncompleted{
    background-color:#0063CA;
}
#bar_completed{
    background-color:#B39700;
}

#percent_stats{
    position:absolute;
    display:inline-block;
    top:1.2px;
    margin: .5%;
    left:40%;
}
#percent_skills {
    position:absolute;
    display:inline-block;
    top:-0.8px;
    margin: .5%;
    left:40%;
}
